<div class="container">
  Choose your character, and the type of business you would like to launch. By clicking on each character, you will be able to preview their extended bio.
</div>

<br>

<div class="container align-center">
  <div class="container-columns" {{action "selectCharacter" 'Lamisi'}}>
    Lamisi: Agribusiness Entrepreneur
  </div>

  <div class="container-columns" {{action "selectCharacter" 'Musa'}}>
    Musa: Mobile App Developer
  </div>

  <div class="container-columns" {{action "selectCharacter" 'Zara'}}>
    Zara: Vocational Trainer
  </div>
</div>

<br>

{{#if characterSelected}}
  <div class="bio">
    {{#if zaraSelected}}
      Zara is a 31-year-old mother of two young children living Tamale. She has a University Degree in Marketing and Finance. She is a trained makeup artist, who plans to start a vocational training program to teach makeup artistry to young girls in her community.
    {{/if}}
    {{#if musaSelected}}
      Musa is a 22-year-old youth living in Accra. A skilled weaver, he wants to build a business that uses technology to sell and ship his clothing to customers living overseas.
    {{/if}}
    {{#if lamisiSelected}}
      Lamisi is a 26-year-old woman living in Tamale. Currently unemployed, she has a background in animal husbandry, and a Higher National Diploma in Business Administration. Lamisi wants to launch a small poultry farm that sells live guinea fowl and eggs.
    {{/if}}
  </div>
{{/if}}

<br>

<div class="container align-center">
  {{#if characterSelected}}
    {{#link-to 'game' (query-params character=characterSelected month=1) class="button flexy-guy"}}
      Start Game as {{characterSelected}}
    {{/link-to}}
  {{/if}}
</div>
