<div class="flexBlock">
  {{#if isLamisi}}
      Lamisi is a 26-year-old woman living in Tamale. She has a Higher National Diploma in Business Administration, but has been unemployed for several months. She recently completed a training program on entrepreneurship with EQWIP HUBs.

      Lamisi, who comes from a family of farmers and has experience in animal husbandry, wants to start a poultry farm that sells both eggs and live birds. Most poultry in Ghana is produced by farmers in the South. However, as demand for poultry rises and as access to agribusiness technology spreads, poultry farming has becoming increasingly popular with youth in Northern Ghana.

      Lamisi plans to raise a flock of guinea fowl chicks, and build a simple pen on her family’s land. Though she does not have very much money, her educational background in business, along with her recent entrepreneurship training, should help her get her business off the ground. 

      However, poultry farming is a male-dominated industry in Ghana, and Lamisi’s family is not supportive of her ambitions — in fact, they discourage the idea. Though she has no children, they believe she should choose a vocation that is more amenable to the obligations of raising children.

      Despite her family’s objections, Lamisi decides to launch her business.
  {{/if}}

  {{#if isZara}}
    Zara is a 31-year-old mother of two young children — a 5-year-old daughter and a 3-year-old son. She lives in Tamale with her husband, Musa, who is a bank teller. She has a University Degree in Marketing and Finance, and is also a trained makeup artist, who works from home.

    Zara wants to start a vocational training program to teach makeup artistry to young girls in her community, but this will require significant funds to pay for supplies and to rent a space for her classes. 

    Her long-term goal is to run a multi-functional beauty bar in downtown Tamale that offers makeup services, provides vocational training, and sells beauty products. 
  {{/if}}

  {{#if isKojo}}
    Kojo is a 22-year-old entrepreneur, born and raised in Accra. After graduating with a Higher National Diploma in Accounting, he worked for an insurance company as part of his national service. After one year, the company let him go. 

    After months of unsuccessful job hunting, Kojo decided to embark on a new path. Inspired by the increasing popularity of smartphones and the proliferation of web development programs around Accra, he wants to develop a unique and innovative mobile application, around which he can build a sustainable business of his own. 

    Specifically, Kojo wants to build a mobile app that connects small businesses to a recycling and waste management companies, and allows business owners to easily schedule pick-ups for their sorted waste and trash. 

    Though Kojo is tech-savvy and has lots of experience with computers and other technology, he has never built a fully functioning mobile application before. 

    (Click Next)
    ----

    Kojo has always cared about the natural environment. He has always been frustrated by how difficult it is to properly dispose of and recycle waste products in Accra. If it isn’t thrown into the streets or burned, trash usually ends up in a single receptacle, unsorted and unusable.

    Kojo’s business idea is simple: He will build a mobile application that allows small business owners to schedule a pickup of their plastic waste, which will be transported to the recycling and processing company. Upon delivery, the small business will receive a mobile money transfer, depending on the weight of each load.

    In short — Kojo’s application will incentivize the process of recycling for small businesses that would otherwise not bother. The application will be called “Recycle Accra!” Once the project is well underway, Kojo will need to sell to the application, or find investors to take the the business to the next level.

    Kojo has spent months perfecting a business plan, which he has already shared with Responsible Waste Services (RWS), a plastics recycling and processing company located 40 kilometers outside of Accra. RWS is willing to partner with Kojo to provide weekly waste collection for an unserviced area of Accra, if he is able to get enough people on board with the scheme. 

    (Click Next)
  {{/if}}
</div>
