{{#each partials as |partial| ~}}
  {{~#if partial.isSusu ~}}
    <span {{action 'renderModal' bubbles=false}} class='modalLink u-colorBlue'>
      {{~partial.content~}}
    </span>
  {{~else~}}
    <span style="white-space: pre-line">
      {{~partial.content~}}
    </span>
  {{~/if}}
{{~/each}}
