/* -------------------------------------------------------------------------
   Flex Frame
   ------------------------------------------------------------------------- */
.flexFrame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

/* -------------------------------------------------------------------------
   Flex Block
   ------------------------------------------------------------------------- */
/**
 * 1. Set a default width on flexBlocks to fix flexBlock bug with elements
 *    not respecting their parents bounds
 */
.flexBlock {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  /* 1 */ }

.flexBlock--noGrow {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.flexBlock--noShrink {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.flexBlock--equalBlocks > .flexBlock {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0; }

/* -------------------------------------------------------------------------
   Flex Direction
   ------------------------------------------------------------------------- */
.flexVertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/* -------------------------------------------------------------------------
   Flex Content
   ------------------------------------------------------------------------- */
.flexContent {
  position: relative;
  display: block;
  width: 100%; }
