h1, h2, h3 {
  font-weight: $bold;
  margin-bottom: 0;
  text-decoration: none;
  line-height: 1.3;
  font-family: "Calibre-Semibold", sans-serif;
}

h1 {
  color: $color-blueDark;
  font-size: 34px;
  margin-bottom: 1rem;
}

h2 {
  color: $color-blue;
  font-size: 28px;
  margin-bottom: 0.5rem;
}

h3 {
  color: $color-greyDark;
  font-size: 18px;
    margin-bottom: 0.5rem;
}

p {
  color: $color-greyDark;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 1rem 0;
}

.titleLabel {
  display: inline-block;
  color: $color-teal;
  text-transform: uppercase;
  background-color: rgba($color-teal, 0.1);
  padding: 0.5rem 0.75rem 0.125rem 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
