.u-colorBlue {
  color: $color-blue;
}
.u-colorGlue {
  color: $color-green;
}
.u-colorBlueDark {
  color: $color-blueDark;
}
.u-colorBlueLight {
  color: $color-blueLight;
}
.u-colorGrey {
  color: $color-grey;
}
.u-colorGreyDark {
  color: $color-greyDark;
}
.u-colorGreyLight {
  color: $color-greyLight;
}
.u-colorTeal {
  color: $color-teal;
}
.u-colorBrown {
  color: $color-brown;
}
.u-colorWhite {
  color: #ffffff;
}
.u-bgColorGreen {
  background-color: $color-green;
}
.u-bgColorBlue {
  background-color: $color-blue;
}
.u-bgColorBlueLight {
  background-color: $color-blueLight;
}
.u-bgColorBlueDark {
  background-color: $color-blueDark;
}
.u-bgColorTeal {
  background-color: $color-teal;
}
.u-bgColorBrown {
  background-color: $color-brown;
}
.u-block {
  display: block !important; }

.u-inlineBlock {
  display: inline-block !important; }

.u-inline {
  display: inline !important; }

/* -------------------------------------------------------------------------
   Border Radius All Sides
   ------------------------------------------------------------------------- */
.u-borderRadius {
  border-radius: 0.25rem !important; }

.u-borderRadiusLarge {
  border-radius: 1rem !important; }

.u-borderRadiusLarger {
  border-radius: 1.5rem !important; }

.u-borderRadiusLargest {
  border-radius: 2rem !important; }

.u-borderRadiusNone {
  border-radius: 0 !important; }

/* -------------------------------------------------------------------------
   Border Top Left Radius
   ------------------------------------------------------------------------- */
.u-borderTopLeftRadius {
  border-top-left-radius: 0.25rem !important; }

.u-borderTopLeftRadiusLarge {
  border-top-left-radius: 1rem !important; }

.u-borderTopLeftRadiusLarger {
  border-top-left-radius: 1.5rem !important; }

.u-borderTopLeftRadiusLargest {
  border-top-left-radius: 2rem !important; }

/* -------------------------------------------------------------------------
   Border Top Right Radius
   ------------------------------------------------------------------------- */
.u-borderTopRightRadius {
  border-top-right-radius: 0.25rem !important; }

.u-borderTopRightRadiusLarge {
  border-top-right-radius: 1rem !important; }

.u-borderTopRightRadiusLarger {
  border-top-right-radius: 1.5rem !important; }

.u-borderTopRightRadiusLargest {
  border-top-right-radius: 2rem !important; }

/* -------------------------------------------------------------------------
   Border Bottom Left Radius
   ------------------------------------------------------------------------- */
.u-borderBottomLeftRadius {
  border-bottom-left-radius: 0.25rem !important; }

.u-borderBottomLeftRadiusLarge {
  border-bottom-left-radius: 1rem !important; }

.u-borderBottomLeftRadiusLarger {
  border-bottom-left-radius: 1.5rem !important; }

.u-borderBottomLeftRadiusLargest {
  border-bottom-left-radius: 2rem !important; }

/* -------------------------------------------------------------------------
   Border Bottom Right Radius
   ------------------------------------------------------------------------- */
.u-borderBottomRightRadius {
  border-bottom-right-radius: 0.25rem !important; }

.u-borderBottomRightRadiusLarge {
  border-bottom-right-radius: 1rem !important; }

.u-borderBottomRightRadiusLarger {
  border-bottom-right-radius: 1.5rem !important; }

.u-borderBottomRightRadiusLargest {
  border-bottom-right-radius: 2rem !important; }

/* -------------------------------------------------------------------------
   Border All Sides
   ------------------------------------------------------------------------- */
.u-border {
  border: 1px solid #E0E0E0 !important; }

/* Thick Border */
.u-borderThick {
  border: 2px solid #E0E0E0 !important; }

/* Thicker Border */
.u-borderThicker {
  border: 0.25rem solid #E0E0E0 !important; }

/* Thickest Border */
.u-borderThickest {
  border: 0.5rem solid #E0E0E0 !important; }

/* No Border */
.u-borderNone {
  border: none !important; }

/* -------------------------------------------------------------------------
   Border Top
   ------------------------------------------------------------------------- */
.u-borderTop {
  border-top: 1px solid #E0E0E0 !important; }

/* Thick Border */
.u-borderTopThick {
  border-top: 2px solid #E0E0E0 !important; }

/* Thicker Top Border */
.u-borderTopThicker {
  border-top: 0.25rem solid #E0E0E0 !important; }

/* Thickest Top Border */
.u-borderTopThickest {
  border-top: 0.5rem solid #E0E0E0 !important; }

/* No Top Border */
.u-borderTopNone {
  border-top: none !important; }

/* -------------------------------------------------------------------------
   Border Right
   ------------------------------------------------------------------------- */
.u-borderRight {
  border-right: 1px solid #E0E0E0 !important; }

/* Thick Border */
.u-borderRightThick {
  border-right: 2px solid #E0E0E0 !important; }

/* Thicker Right Border */
.u-borderRightThicker {
  border-right: 0.25rem solid #E0E0E0 !important; }

/* Thickest Right Border */
.u-borderRightThickest {
  border-right: 0.5rem solid #E0E0E0 !important; }

/* No Right Border */
.u-borderRightNone {
  border-right: none !important; }

/* -------------------------------------------------------------------------
   Border Bottom
   ------------------------------------------------------------------------- */
.u-borderBottom {
  border-bottom: 1px solid #E0E0E0 !important; }

/* Thick Border */
.u-borderBottomThick {
  border-bottom: 2px solid #E0E0E0 !important; }

/* Thicker Bottom Border */
.u-borderBottomThicker {
  border-bottom: 0.25rem solid #E0E0E0 !important; }

/* Thickest Bottom Border */
.u-borderBottomThickest {
  border-bottom: 0.5rem solid #E0E0E0 !important; }

/* No Bottom Border */
.u-borderBottomNone {
  border-bottom: none !important; }

/* -------------------------------------------------------------------------
   Border Left
   ------------------------------------------------------------------------- */
.u-borderLeft {
  border-left: 1px solid #E0E0E0 !important; }

/* Thick Border */
.u-borderLeftThick {
  border: 2px solid #E0E0E0 !important; }

/* Thicker Left Border */
.u-borderLeftThicker {
  border-left: 0.25rem solid #E0E0E0 !important; }

/* Thickest Left Border */
.u-borderLeftThickest {
  border-left: 0.5rem solid #E0E0E0 !important; }

/* No Left Border */
.u-borderLeftNone {
  border-left: none !important; }

/* -------------------------------------------------------------------------
   Border Media Queries
   ------------------------------------------------------------------------- */
/**
  * Display border on small screens only
  */
@media only screen and (min-width: 40rem) {
  .u-medium-borderTopNone {
    border-top: none !important; } }

@media only screen and (min-width: 40rem) {
  .u-medium-borderRightNone {
    border-right: none !important; } }

@media only screen and (min-width: 40rem) {
  .u-medium-borderBottomNone {
    border-bottom: none !important; } }

@media only screen and (min-width: 40rem) {
  .u-medium-borderLeftNone {
    border-left: none !important; } }

/**
 * Display border on small and medium screens only
 */
@media only screen and (min-width: 64rem) {
  .u-large-borderTopNone {
    border-top: none !important; } }

@media only screen and (min-width: 64rem) {
  .u-large-borderRightNone {
    border-right: none !important; } }

@media only screen and (min-width: 64rem) {
  .u-large-borderBottomNone {
    border-bottom: none !important; } }

@media only screen and (min-width: 64rem) {
  .u-large-borderLeftNone {
    border-left: none !important; } }

/**
 * Display border on medium and large screens only
 */
@media only screen and (min-width: 40rem) {
  .u-medium-borderTop {
    border-top: 1px solid #E0E0E0 !important; } }

@media only screen and (min-width: 40rem) {
  .u-medium-borderRight {
    border-right: 1px solid #E0E0E0 !important; } }

@media only screen and (min-width: 40rem) {
  .u-medium-borderBottom {
    border-bottom: 1px solid #E0E0E0 !important; } }

@media only screen and (min-width: 40rem) {
  .u-medium-borderLeft {
    border-left: 1px solid #E0E0E0 !important; } }

/**
 * Display border on large screens only
 */
@media only screen and (min-width: 64rem) {
  .u-large-borderTop {
    border-top: 1px solid #E0E0E0 !important; } }

@media only screen and (min-width: 64rem) {
  .u-large-borderRight {
    border-right: 1px solid #E0E0E0 !important; } }

@media only screen and (min-width: 64rem) {
  .u-large-borderBottom {
    border-bottom: 1px solid #E0E0E0 !important; } }

@media only screen and (min-width: 64rem) {
  .u-large-borderLeft {
    border-left: 1px solid #E0E0E0 !important; } }

.u-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.u-lineHeightSmallest {
  line-height: 1 !important; }

.u-lineHeightSmaller {
  line-height: 1.2 !important; }

.u-lineHeightSmall {
  line-height: 1.3 !important; }

.u-lineHeightBase {
  line-height: 1.5 !important; }

.u-lineHeightLarger {
  line-height: 2 !important; }

/* -------------------------------------------------------------------------
   Margin All Sides
   ------------------------------------------------------------------------- */
.u-marginSmallest {
  margin: 0.25rem !important; }

.u-marginSmaller {
  margin: 0.5rem !important; }

.u-marginSmall {
  margin: 1rem !important; }

.u-margin {
  margin: 2rem !important; }

.u-marginLarge {
  margin: 2.5rem !important; }

.u-marginLarger {
  margin: 3rem !important; }

.u-marginLargest {
  margin: 3.5rem !important; }

.u-marginAuto {
  margin: auto !important; }

.u-marginNone {
  margin: 0 !important; }

/* -------------------------------------------------------------------------
   Margin Top
   ------------------------------------------------------------------------- */
.u-marginTopSmallest {
  margin-top: 0.25rem !important; }

.u-marginTopSmaller {
  margin-top: 0.5rem !important; }

.u-marginTopSmall {
  margin-top: 1rem !important; }

.u-marginTop {
  margin-top: 2rem !important; }

.u-marginTopLarge {
  margin-top: 2.5rem !important; }

.u-marginTopLarger {
  margin-top: 3rem !important; }

.u-marginTopLargest {
  margin-top: 3.5rem !important; }

.u-marginTopAuto {
  margin-top: auto !important; }

.u-marginTopNone {
  margin-top: 0 !important; }

/* -------------------------------------------------------------------------
   Margin Right
   ------------------------------------------------------------------------- */
.u-marginRightSmallest {
  margin-right: 0.25rem !important; }

.u-marginRightSmaller {
  margin-right: 0.5rem !important; }

.u-marginRightSmall {
  margin-right: 1rem !important; }

.u-marginRight {
  margin-right: 2rem !important; }

.u-marginRightLarge {
  margin-right: 2.5rem !important; }

.u-marginRightLarger {
  margin-right: 3rem !important; }

.u-marginRightLargest {
  margin-right: 3.5rem !important; }

.u-marginRightAuto {
  margin-right: auto !important; }

.u-marginRightNone {
  margin-right: 0 !important; }

/* -------------------------------------------------------------------------
   Margin Bottom
   ------------------------------------------------------------------------- */
.u-marginBottomSmallest {
  margin-bottom: 0.25rem !important; }

.u-marginBottomSmaller {
  margin-bottom: 0.5rem !important; }

.u-marginBottomSmall {
  margin-bottom: 1rem !important; }

.u-marginBottom {
  margin-bottom: 2rem !important; }

.u-marginBottomLarge {
  margin-bottom: 2.5rem !important; }

.u-marginBottomLarger {
  margin-bottom: 3rem !important; }

.u-marginBottomLargest {
  margin-bottom: 3.5rem !important; }

.u-marginBottomAuto {
  margin-bottom: auto !important; }

.u-marginBottomNone {
  margin-bottom: 0 !important; }

/* -------------------------------------------------------------------------
   Margin Left
   ------------------------------------------------------------------------- */
.u-marginLeftSmallest {
  margin-left: 0.25rem !important; }

.u-marginLeftSmaller {
  margin-left: 0.5rem !important; }

.u-marginLeftSmall {
  margin-left: 1rem !important; }

.u-marginLeft {
  margin-left: 2rem !important; }

.u-marginLeftLarge {
  margin-left: 2.5rem !important; }

.u-marginLeftLarger {
  margin-left: 3rem !important; }

.u-marginLeftLargest {
  margin-left: 3.5rem !important; }

.u-marginLeftAuto {
  margin-left: auto !important; }

.u-marginLeftNone {
  margin-left: 0 !important; }

.u-scrollY {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

/**
 * This stops the browsers print function from printing a scrollbar
 */
@media print {
  .u-scrollY {
    overflow-y: initial; } }

.u-hiddenY {
  overflow-y: hidden; }

/* -------------------------------------------------------------------------
   Padding All Sides
   ------------------------------------------------------------------------- */
.u-paddingSmallest {
  padding: 0.25rem !important; }

.u-paddingSmaller {
  padding: 0.5rem !important; }

.u-paddingSmall {
  padding: 1rem !important; }

.u-padding {
  padding: 2rem !important; }

.u-paddingLarge {
  padding: 2.5rem !important; }

.u-paddingLarger {
  padding: 3rem !important; }

.u-paddingLargest {
  padding: 3.5rem !important; }

.u-paddingNone {
  padding: 0 !important; }

/* -------------------------------------------------------------------------
   Padding Top
   ------------------------------------------------------------------------- */
.u-paddingTopSmallest {
  padding-top: 0.25rem !important; }

.u-paddingTopSmaller {
  padding-top: 0.5rem !important; }

.u-paddingTopSmall {
  padding-top: 1rem !important; }

.u-paddingTop {
  padding-top: 2rem !important; }

.u-paddingTopLarge {
  padding-top: 2.5rem !important; }

.u-paddingTopLarger {
  padding-top: 3rem !important; }

.u-paddingTopLargest {
  padding-top: 3.5rem !important; }

.u-paddingTopNone {
  padding-top: 0 !important; }

/* -------------------------------------------------------------------------
   Padding Right
   ------------------------------------------------------------------------- */
.u-paddingRightSmallest {
  padding-right: 0.25rem !important; }

.u-paddingRightSmaller {
  padding-right: 0.5rem !important; }

.u-paddingRightSmall {
  padding-right: 1rem !important; }

.u-paddingRight {
  padding-right: 2rem !important; }

.u-paddingRightLarge {
  padding-right: 2.5rem !important; }

.u-paddingRightLarger {
  padding-right: 3rem !important; }

.u-paddingRightLargest {
  padding-right: 3.5rem !important; }

.u-paddingRightNone {
  padding-right: 0 !important; }

/* -------------------------------------------------------------------------
   Padding Bottom
   ------------------------------------------------------------------------- */
.u-paddingBottomSmallest {
  padding-bottom: 0.25rem !important; }

.u-paddingBottomSmaller {
  padding-bottom: 0.5rem !important; }

.u-paddingBottomSmall {
  padding-bottom: 1rem !important; }

.u-paddingBottom {
  padding-bottom: 2rem !important; }

.u-paddingBottomLarge {
  padding-bottom: 2.5rem !important; }

.u-paddingBottomLarger {
  padding-bottom: 3rem !important; }

.u-paddingBottomLargest {
  padding-bottom: 3.5rem !important; }

.u-paddingBottomNone {
  padding-bottom: 0 !important; }

/* -------------------------------------------------------------------------
   Padding Left
   ------------------------------------------------------------------------- */
.u-paddingLeftSmallest {
  padding-left: 0.25rem !important; }

.u-paddingLeftSmaller {
  padding-left: 0.5rem !important; }

.u-paddingLeftSmall {
  padding-left: 1rem !important; }

.u-paddingLeft {
  padding-left: 2rem !important; }

.u-paddingLeftLarge {
  padding-left: 2.5rem !important; }

.u-paddingLeftLarger {
  padding-left: 3rem !important; }

.u-paddingLeftLargest {
  padding-left: 3.5rem !important; }

.u-paddingLeftNone {
  padding-left: 0 !important; }

.u-textLeft {
  text-align: left !important; }

.u-textRight {
  text-align: right !important; }

.u-textCenter {
  text-align: center !important; }

.u-textDecorationNone {
  text-decoration: none !important; }

.u-textUnderline {
  text-decoration: underline !important; }

.u-textLowercase {
  text-transform: lowercase !important; }

.u-textSmallest {
  font-size: 0.625rem !important; }

.u-textSmaller {
  font-size: 0.75rem !important; }

.u-textSmall {
  font-size: 0.875rem !important; }

.u-textBase {
  font-size: 1rem !important; }

.u-textLarge {
  font-size: 1.125rem !important; }

.u-textLarger {
  font-size: 1.5rem !important; }

.u-textLargest {
  font-size: 2.25rem !important; }

.u-textHuge {
  font-size: 3rem !important; }

.u-textJumbo {
  font-size: 3.75rem !important; }

.u-textTitlecase {
  text-transform: capitalize !important; }

.u-textTruncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.u-textUppercase {
  text-transform: uppercase !important; }

.u-textRegular {
  font-weight: 400 !important; }

.u-textBold {
  font-weight: 700 !important; }

.u-textXBold {
  font-weight: 800 !important; }

.u-userSelectNone {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.u-verticalAlignMiddle {
  vertical-align: middle; }

.u-hidden {
  display: none !important; }

.u-wordBreak {
  word-break: break-all;
  word-wrap: break-word; }
