$color-blueDark: #132E3E;
$color-blue: #0077BE;
$color-blueLight: #3C94C9;
$color-grey: #E0E0E0;
$color-greyDark: #444444;
$color-greyLight: #F4F4F4;
$color-green: #C1D32B;
$color-brown: #714100;
$color-orange: #C67232;
$color-teal: #0ACBAB;
$color-red: #C91418;

$bold: bold;
