$color-blueDark: #132E3E;
$color-blue: #0077BE;
$color-blueLight: #3C94C9;
$color-grey: #E0E0E0;
$color-green: #C1D32B;
$color-brown: #714100;
$color-orange: #C67232;
$color-teal: #0ACBAB;
$color-red: #C91418;

$bold: 700;
$regular: 400;
$light: 300;
