// @import "settings";
// @import "foundation";
@import "reset";
@import "variables";
@import "layout";
@import "components";
@import "typography";
@import "flex";
@import "grid";
@import "utilities";
@import "hacky";

@font-face {
  font-family: "Calibre-Regular";
  font-weight: bold;
  src: url("/assets/fonts/Calibre-Regular.otf") format('opentype');
 }

html, body {
  height: 100%;
}

body {
  font-family: 'Calibre-Regular';
}

body > .ember-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.logo {
  max-width: 10rem;
  display: inline-block;
  margin: 0 0.5rem;
}

.indicator-bar{
  border-right: 6px solid black;
  height: 100%;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.indicator-gradient{
  background: #DC3912; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #C1D32B,#D4C92A, #C91418); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #C1D32B, #D4C92A, #C91418); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #C1D32B, #D4C92A, #C91418); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #C1D32B, #D4C92A, #C91418); /* Standard syntax */
}

.indicator-container {
  width:100%;
  height:30px;
  background-color: white;
}

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
