@import "settings";

@import "foundation";

.container {
  display: flex;
  flex-direction: row;
}

.vertical-container{
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-self: stretch;
}

.container-columns {
  flex: 3;
  background: lightgrey;
}

.score-drawer-container {
  flex: 1;
  background: grey;
}

.align-center {
  align-items: center;
}

.button {
  flex: 1;
}
