.avatar {
  display: inline-block;
  width: 6rem;
  height: 7rem;
  background-repeat: none;
  background-size: cover;
  border-radius: 50%;
  background-color: $color-grey;
}

.avatar--small {
  width: 2rem;
  height: 2.375rem;
}

.avatar--large {
  width: 10rem;
  height: 11.625rem;
}

.avatar--lamisi {
  background-image: url("/assets/images/lamisi.svg")
}

.avatar--kojo {
  background-image: url("/assets/images/kojo.svg")
}

.avatar--zara {
  background-image: url("/assets/images/zara.svg")
}
