.button {
  position: relative;
  display: inline-block;
  padding: 1rem 1rem 0.55rem 1rem;
  font-size: 1rem;
  background-color: grey;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 1px;
  color: white;
  font-weight: $bold;
  transition: background 0.2s;
  cursor: pointer;
}

.button--blue {
  background: $color-blue;
  box-shadow: 0 0.3125rem 0 0 darken($color-blue, 10%);
}

.button--green {
  background: $color-green;
  box-shadow: 0 0.3125rem 0 0 darken($color-green, 10%);
}

.button--blue:hover {
  top: 3px;
  box-shadow: 0 0.1875rem 0 0 darken($color-blue, 10%);
}

.button--green:hover {
  top: 3px;
  box-shadow: 0 0.1875rem 0 0 darken($color-green, 10%);
}

.button--blue:active {
  background: darken($color-blue, 10%);
}

.button--green:active {
  background: darken($color-green, 10%);
}
