<div class="container">
  Choose your character, and the type of business you would like to launch. By clicking on each character, you will be able to preview their extended bio.
</div>

<div class="container">
  {{#link-to 'game'  class="container-columns"}}
    <div>
      Lamisi: Agribusiness Entrepreneur
    </div>
  {{/link-to}}

  {{#link-to 'game' class="container-columns"}}
    <div>
      Musa: Mobile App Developer
    </div>
  {{/link-to}}

  {{#link-to 'game' class="container-columns"}}
    <div>
      Zara: Vocational Trainer
    </div>
  {{/link-to}}
</div>
