{{#link-to 'game'}}
  <div class="container-columns">
    Lamisi: Agribusiness Entrepreneur
  </div>
{{/link-to}}

{{#link-to 'game'}}
  <div class="container-columns">
    Musa: Mobile App Developer
  </div>
{{/link-to}}

{{#link-to 'game'}}
  <div class="container-columns">
    Zara: Vocational Trainer
  </div>
{{/link-to}}
