<div class="flexFrame align-center">
  <div class="flexBlock flexBlock--noGrow spaced">
    <div class="u-margin">
      <img src="/assets/images/eqwip.png" class="logo" />
    </div>
    <div class="u-margin">
      <img src="/assets/images/acgc.jpeg" class="logo"/>
    </div>
  </div>

  <div class="flexBlock flexBlock--noGrow eqwipBlue u-marginBottom">
    <div class="u-marginSmallest u-textLeft">
      <h4>
        EQWIP HUBs and the Alberta Council for Global Cooperation (ACGC), present an interactive tool designed to simulate challenges faced by young entrepreneurs in the Global South.
      </h4>

      <h4>
        From startup to sustainability: Take the challenge!
      </h4>
    </div>
  </div>

  <div class="flexBlock">
    {{#link-to 'character-select'}}
      <a href="#" class="button expand">Start New Game</a>
    {{/link-to}}
  </div>
</div>
