<div class="flexBlock">
  <div class="dashboard">
    <div class="fadeUp">
      <div class="row align-center u-marginBottomLarger u-marginTopLarger">
        <div class="small-12 medium-6 columns u-textCenter">
          <img src="/assets/images/eqwip.png" class="logo" />
          <img src="/assets/images/acgc.jpeg" class="logo"/>
        </div>
      </div>
      <div class="row align-center">
        <div class="small-12 medium-6 columns u-textCenter">
          <div class="titleLabel">
            Present
          </div>
          <h1>
            From Startup to Sustainability
          </h1>
          <p>
            EQWIP HUBs and the Alberta Council for Global Cooperation (ACGC), present an interactive tool designed to simulate challenges faced by young entrepreneurs in the Global South.
          </p>
          {{#link-to 'character-select'}}
            <a href="#" class="button button--green">Start New Game</a>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
