<div class="vertical-container">
  <div>
    EQWIP HUBs, in partnership with the Alberta Council for Global Cooperation (ACGC), presents an interactive tool designed to simulate the challenges faced by young entrepreneurs in the Global South.
  </div>

  <div>
    From startup to sustainability: Take the challenge!
  </div>

  {{#link-to 'character-select' class=""}}
    <a href="#" class="button expand">Start New Game</a>
  {{/link-to}}
</div>
