<div class="container">
  <div class="score-drawer-container">
    {{score-drawer character=character month=month answers=answers cash=cash income=income}}
  </div>

  <div class="container-columns">
    {{question-space character=character month=month answerQuestion=(action "answerQuestion")}}
  </div>
</div>
